{{!-- bouton home/logo + play + about/contact --}}

<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/play">Play</a></li>
        <li><a href="/about">About</a></li>
        {{!-- <li><a href=""></a></li> --}}
    </ul>
</div>